:root {
    --background-color-light: #ffffff;
    --background-color-dark: #333333;
    --text-color-light: #333333;
    --text-color-dark: #ffffff;
    --link-color-light: #0066cc;
    --link-color-dark: #66b2ff;
    --hover-background-color-light: #333333;
    --hover-background-color-dark: #ffffff;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

header {
    text-align: center;
    margin-bottom: 20px;
    position: relative;
    padding: 20px 0;
}

header h1 {
    font-size: 1.7em;
}

.avatar {
    margin-bottom: 20px;
    width: 100px;
    height: auto;
    border-radius: 50%;
}

.toggle-theme-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    border: none;
}

#theme-icon {
    width: 25px;
    height: 25px;
}

main {
    text-align: center;
    padding: 0 20px;
    margin-bottom: 100px;
    width: 100%;
}

.link-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.link-container p {
    text-align: center;
}

a {
    color: var(--link-color-light);
    text-decoration: none;
    font-size: 1em;
    padding: 10px 20px;
    border: 2px solid var(--link-color-light);
    border-radius: 5px;
    width: 200px;
    text-align: center;
    transition: all 0.3s ease;
    margin: 0 auto;
}

body.dark-mode a {
    color: var(--link-color-dark);
    border-color: var(--link-color-dark);
}

a:hover {
    color: #ffffff;
    background-color: var(--hover-background-color-light);
}

body.dark-mode a:hover {
    color: #333333;
    background-color: var(--hover-background-color-dark);
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 60px 20px 40px;
}

.copyright {
    font-size: 0.8em;
}

@media (max-width: 768px) {
    header, main, footer {
        padding: 0 20px;
    }

    .avatar {
        margin-bottom: 10px;
    }

    .toggle-theme-container {
        bottom: 30px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
    }

    a {
        width: 100%;
        max-width: 300px;
    }
}

@media (min-width: 769px) {
    footer {
        padding-top: 60px;
    }
}