:root {
    --background-color-light: #ffffff;
    --background-color-dark: #333333;
    --text-color-light: #333333;
    --text-color-dark: #ffffff;
    --link-color-light: #0066cc;
    --link-color-dark: #66b2ff;
    --hover-background-color-light: #e6e6e6;
    --hover-background-color-dark: #4d4d4d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--background-color-light);
    color: var(--text-color-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

body.dark-mode {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    max-width: 400px;
    height: 100vh;
    padding: 20px;
    overflow-y: auto;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

header h1 {
    font-size: 1.5em;
    margin: 10px 0;
}

header p {
    font-size: 1em;
    margin-bottom: 10px;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.link-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

a {
    color: var(--link-color-light);
    text-decoration: none;
    font-size: 0.9em;
    padding: 10px;
    border: 2px solid var(--link-color-light);
    border-radius: 5px;
    text-align: center;
    transition: all 0.3s ease;
}

body.dark-mode a {
    color: var(--link-color-dark);
    border-color: var(--link-color-dark);
}

a:hover {
    background-color: var(--hover-background-color-light);
}

body.dark-mode a:hover {
    background-color: var(--hover-background-color-dark);
}

footer {
    text-align: center;
    margin-top: 20px;
    position: relative;
}

.copyright {
    font-size: 0.8em;
}

.toggle-theme-container {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-top: 10px;
}

#theme-icon {
    width: 20px;
    height: 20px;
}

@media (max-height: 600px) {
    .container {
        justify-content: flex-start;
    }
    
    header {
        margin-bottom: 10px;
    }
    
    .avatar {
        width: 60px;
        height: 60px;
    }
    
    header h1 {
        font-size: 1.2em;
    }
    
    a {
        padding: 8px;
    }
    
    footer {
        margin-top: 10px;
    }
}